body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFAF3;
}

.container {
    text-align: center;
}

.aviso {
    bottom: 10px;
    left: 50%;
    width: 90%;
    margin-bottom: 10px;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #FFF7ED;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avisos, h1{
  margin-bottom: 5px;
    font-size: 16px;
    color:green;
}

.avisos, h3{
  color: grey;
  font-size: 14px;
}

.avisos, p{
  font-size: 12px;
  color: gray;
}